{
  "api_url": "http://YOURDOMAIN:3000/api/",
  "admin_url": "http://YOURDOMAIN:8080/api/",
  "storage_url": "http://YOURDOMAIN:8080/storage/",
  "log_all_requests": false,
  "show_redux_logs": true,
  "sentry_dsn": "https://3d5bff00f9f44ef281569e119e7eb1ab@o443319.ingest.sentry.io/5416858"
}
