<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931799961500-0ih341ag97pbi71jdie29vkr6n5q76q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931799961500-0ih341ag97pbi71jdie29vkr6n5q76q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCFrRDbttsHDFLRVZC0YhkaupXiMpRcNNk</string>
	<key>GCM_SENDER_ID</key>
	<string>931799961500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.amrr.infinitepower</string>
	<key>PROJECT_ID</key>
	<string>infinite-power-app</string>
	<key>STORAGE_BUCKET</key>
	<string>infinite-power-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931799961500:ios:ec40c239b732abd6bcc259</string>
	<key>DATABASE_URL</key>
	<string>https://infinite-power-app.firebaseio.com</string>
</dict>
</plist>